[2021-11-08 13:37] JonathanN1203 commented on #319
it seems that it's working now but really slow

[2021-11-08 15:48] Rubber1Duck commented on #320
Hello,
you are right daily cases and death are only provided for germany not for states and districts ..........
For states and districts only the 7day cases and 7 day incidence is provided!

[2021-11-08 16:00] KaktusXY opened #321 "Returns http status code 200 on error"
Currently there is a problem with the Official-RKI-API.
The Official-RKI-API returns error code 400, but this api returns status code 200, when it shouldn't, because there is obviously a problem.

![grafik](https://user-images.githubusercontent.com/58702689/140774979-1c89ba19-8a87-4d76-9aee-affe6df5bf67.png)

[2021-11-08 16:01] JonathanN1203 commented on #321
take a look at this issue https://github.com/marlon360/rki-covid-api/issues/319

[2021-11-08 16:02] Creat1veM1nd commented on #320
Glad to hear that I was not blind :-)

I will go with the solution to fetch new cases on a daily basis and store them in a DB.

Thanks for your help!

[2021-11-08 16:23] KaktusXY commented on #321
the reason for this issue is not the right now not working api, but rather the http status code it returns (it returns code 200 when it shouldn't)

[2021-11-08 18:39] csigritz commented on #319
Seems like it's working again without any problems

[2021-11-09 12:24] Rubber1Duck commented on #320
Close this issue please!

[2021-11-09 12:27] Rubber1Duck commented on #319
@JonathanN1203 this issue can be closed i think!

[2021-11-09 12:30] Rubber1Duck commented on #321
because of that the error is catched, the resposecode for you is 200! that`s not realy fine .......

[2021-11-09 12:44] JonathanN1203 commented on #319
@Rubber1Duck yes sure

[2021-11-09 12:44] #319 closed, assigned to nobody

[2021-11-09 13:15] #320 closed, assigned to nobody

[2021-11-10 07:48] #316 closed, assigned to nobody

[2021-11-10 10:29] Rubber1Duck commented on #284
@pitrade i think this issue can be closed!?

[2021-11-10 10:31] Rubber1Duck commented on #236
@netcom-severs do you still have issues with this?
if not, close this issue please

[2021-11-10 11:58] netcom-severs commented on #236
No, that issue occurred only once. I don´t feel realy comfortable with closing this issue as we do not know the root cause,
But I also do not belive that we are able to find it...

[2021-11-10 11:58] #236 closed, assigned to nobody

[2021-11-10 15:58] mario-fliegner opened #322 "Krankenhausampel.info - Skript für Webseitenbetreiber"
Krankenhausampel.info - Die Krankenhausampel für einen (beliebigen) Landkreis als freies und anpassbares Skript für alle Webseitenbetreiber. Pures HTML/CSS und JavaScript, damit ist die Ampel "Screenreader" tauglich und auch für Menschen mit Rot-Grün-Schwäche gibt es eine Option zur Anzeige der Farbnamen (quasi Barrierefrei).

Findet bereits auf vielen Webseiten von Feuerwehren (hauptsächlich in B

[2021-11-10 17:00] HappyFr1tz opened #323 "Idea: New map colours"
Hi, due to the increasing numbers and because this is unlikely to end, I wanted to ask about expanding the colour legend for /maps. Currently the colour legend ends at >1,000 and this is what many south/east counties will be exceeding the days. For the same reason, the major media have also adjusted their legends. Accordingly, grey is not 0 - 1, but more than 1,000.
I would find it nice if the leg

[2021-11-10 17:32] VocalZero commented on #64
@marlon360  Would it be possible to include the whole thing for general statistics (/germany) or states statistics as well?
Example: https://api.corona-zahlen.org/germany/history/frozen-incidence or https://api.corona-zahlen.org/states/history/frozen-incidence

[2021-11-10 17:58] Rubber1Duck commented on #323
that should not be a big deal ................
@marlon360 do you have any objections with this?

[2021-11-10 18:35] Rubber1Duck commented on #323
in my opinion black should be the last color und we should not use white ........... maybe like this
![newmap](https://user-images.githubusercontent.com/6493772/141172897-a9c08a63-485e-47ce-bf5d-cb0c33be5920.png)

[2021-11-10 18:44] HappyFr1tz commented on #323
What is your opinion to that? Here the colours are rather adapted to each other. Because I think your two shades of grey are very difficult to distinguish.
![image](https://user-images.githubusercontent.com/63804808/141174101-28f00fb8-5c77-445e-bfdc-93111824d9c3.png)

[2021-11-10 18:49] Rubber1Duck commented on #323
thats okay for me! the hex values please ..... :-)

[2021-11-10 18:51] HappyFr1tz commented on #323
0-1 25BA94
1-15 76D985
15-25 FFFFA8
25-35 FECA81
35-50 F1894A
50-100 F21620
100-200 A9141A
200-350 B275DD
350-500 5D179B
500-1.000 17179B
1.000-1.500 543D35
1.500-2.500 5C5C5C
higher than 2.500 000000

[2021-11-10 20:09] HappyFr1tz commented on #323
@Rubber1Duck are you writing a pull request?

[2021-11-10 20:48] Rubber1Duck commented on #323
yes i am on the way.  But since not everyone will be happy when the maps change, there will be an option with which the colormap can be selected! e.g. /map/districts/:colormap or /map/districts-legend/:colormap
without parameter the old colormap will be used!
change will comming soon ..... give me some time and first another PR must be accepted

[2021-11-10 21:27] marlon360 commented on #323
The RKI uses gray for districts that have an incidence of `0`. Because `0` mostly indicates a reporting problem.
Maybe we should add a light gray for exactly `0` and after that we can start with green for `>0`.

![Bildschirmfoto 2021-11-10 um 22 20 10](https://user-images.githubusercontent.com/11810704/141195196-f62a3d8d-ad11-4f39-a770-9ff5dafcd7c2.png)

@HappyFr1tz I like your legend!

@Rubber1Du

[2021-11-10 21:33] HappyFr1tz commented on #323
I also like the suggestion to start with light grey for exactly 0.0 and then we continue with green. But do we want to continue to take gray for one of the high values or rather a dark blue or for 0.0 a white and for high values still the gray?
To the suggestion, where you can choose the colors yourself. I like it when you can then decide between a few palettes or even select all colors, but such

[2021-11-10 23:04] Rubber1Duck commented on #323
I thought that maybe not all users of the api advocate an extension of the ranges including changed colors. Maybe they have self made legends in their apps or whatever. And it is not a problem to provide switchable palettes, it is almost ready :-) in my brain :-)

[2021-11-11 01:06] Rubber1Duck commented on #323
@marlon360 have a look on branch extend_ranges
The docs are not changed yet!

[2021-11-11 06:12] EmBeEins opened #325 "Germany return error"
Request error-code 503

https://api.corona-zahlen.org/germany

[2021-11-11 08:40] Toni-99 commented on #325
![grafik](https://user-images.githubusercontent.com/71496013/141265899-daa5d9af-866b-4d58-a349-e00ec8254064.png)

[2021-11-11 08:53] marlon360 commented on #325
This is resolved

[2021-11-11 09:34] marlon360 commented on #325
The endpoint https://api.corona-zahlen.org/germany does not work.

But https://api.corona-zahlen.org/germany/ works.

[2021-11-11 14:15] HappyFr1tz commented on #323
I also used my own legend, which I have automated in the margin. It is not a big effort to edit the legend now. Recently, for example, the colour for 0-1 was changed and everyone implemented it without complaining. One could also continue to offer the current legend and add an extended one to 2,500. Then instead of the current two maps with two graphics each, there would be four graphics. But this

[2021-11-11 14:59] Rubber1Duck commented on #323
Hello, it is ready, need the final colors and the docs have to be enhanced for the new feature  and then it can go live! In my opinion,  dont know marlons one

Am 11.11.2021 15:15 schrieb HappyFr1tz ***@***.***>:
I also used my own legend, which I have automated in the margin. It is not a big effort to edit the legend now. Recently, for example, the colour for 0-1 was changed and everyone implemen

[2021-11-11 17:29] HappyFr1tz commented on #323
How many colors do you need, @Rubber1Duck ?
Then you could still make suggestions so that @marlon360 only has to change a little bit so that it can go online.

[2021-11-11 19:52] Rubber1Duck commented on #323
I will have the PR ready today in evening, latest tomorow in the morning (now i have to look soccer :-) ).
i have made the light gray for incidences  that 0 and chose a drak brown for the other gray that is presenting the higher incidences. made also a palette that is like the one on the RKI website
it looks good for me. I am looking forward that it will go live tomorrow ....................
after

[2021-11-11 21:05] marlon360 commented on #325
flushing redis cache resolved the issue

[2021-11-11 21:05] #325 closed, assigned to nobody

[2021-11-11 21:09] marlon360 commented on #323
I merged #318. I also added the option to define a range, that has to exactly match a value (for the 0 incidence range)
Now someone can make a PR with updated colors.

[2021-11-11 23:30] #323 closed, assigned to nobody

[2021-11-12 09:39] HappyFr1tz commented on #64
@Rubber1Duck @marlon360

[2021-11-12 09:54] marlon360 opened #327 "Frozen incidence for Germany and States"
@marlon360  Would it be possible to include the whole thing for general statistics (/germany) or states statistics as well?
Example: https://api.corona-zahlen.org/germany/history/frozen-incidence or https://api.corona-zahlen.org/states/history/frozen-incidence

_Originally posted by @VocalZero in https://github.com/marlon360/rki-covid-api/issues/64#issuecomment-965575684_

[2021-11-12 09:57] marlon360 commented on #327
This file https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Daten/Fallzahlen_Kum_Tab.xlsx?__blob=publicationFile also includes the frozen incidences for states and Germany. It also offers frozen cases for districts.

[2021-11-12 10:02] marlon360 commented on #305
The memory usage of Redis is fine:
![Bildschirmfoto 2021-11-12 um 11 00 54](https://user-images.githubusercontent.com/11810704/141448621-25d6b9f9-777a-41cd-b1a5-518611cf5646.png)

There are some large objects that are held in memory. But it is really hard to debug that problem.

[2021-11-12 13:48] Rubber1Duck commented on #305
Did you have this Issue as bevor you switched to railway, too?

[2021-11-12 13:59] marlon360 commented on #305
Yes I think so. But the old server was a fixed price with 32GB RAM included and with Railway it is pay-per-usage, which means I am paying for every single MB of RAM that is currently used. So we can reduce costs with every MB we save.

In front of the railway server is a cloudflare cdn, where I cache the requests. So most of the traffic is actually not hitting the server:
![1F5B7EBE-0A3E-40BE-A3EA

[2021-11-13 17:20] EvilCart opened #328 "Im New and i have some Problem"
Hey there im very new to API and i tried my best to get it work but it wont work if someone could please help me

Here is my Project code in just HTML if someone feels free to take a look and maybe help me out

https://pastebin.com/Vfy3N7Kv

[2021-11-13 17:32] marlon360 commented on #328
Hey @EvilCart,

you did not set the `id`s on the HTML elements. That's why it cannot find the elements with: `document.getElementById("weekIncidence")`

Here is a working example of your code:
https://codesandbox.io/s/infallible-silence-yiv1n

[2021-11-13 17:32] #328 closed, assigned to nobody

[2021-11-14 10:16] JonathanN1203 commented on #322
Servus,

ich finde die Idee deines Scripts echt gut. Gibt es irgendwie die Möglichkeit automatisch die Grenzwerte von einem Landkreis auszulesen?

[2021-11-14 19:11] cc13com opened #329 "Reverse Proxy Docker not longer working"
Hello @marlon360,

you gave me the instructions in [101](https://github.com/marlon360/rki-covid-api/issues/101) and [206](https://github.com/marlon360/rki-covid-api/issues/206) to run my own docker with https reverse proxy.

All was fine until I saw this week that you now offer the _boosterVaccination_ figures. I tried an update like in #206 described and run `docker-compose pull && docker-compose

[2021-11-14 19:24] marlon360 commented on #329
Hey @cc13com,

that's a problem with the Redis environment variable. I pushed a fix.
You can update again when this action is finished: https://github.com/marlon360/rki-covid-api/actions/runs/1459576306

If it's still not working you can try changing `REDIS_URL` to `REDISHOST` in the environment section of rki-api.

[2021-11-14 19:32] marlon360 commented on #329
@cc13com Could you try running `docker-compose pull && docker-compose up -d -V` again and check if it works?

[2021-11-14 20:48] cc13com commented on #329
@marlon360 now it works, thanks!

[2021-11-14 20:48] #329 closed, assigned to nobody

[2021-11-15 12:29] mario-fliegner commented on #322
Hi @JonathanN1203 ,
vorbereitet habe ich Möglichkeit zwar schon, allerdings nur auf Bundeslandebene. Die Grenzwerte muss man sich IMHO von jedem Bundesland und/oder Landkreis (sofern verfügbar) manuell selbst ermitteln. Eine Seite oder API, wo alle aktuellen Grenzwerte abgegriffen werden können, ist mir nicht bekannt.

[2021-11-15 15:33] JonathanN1203 commented on #322
Hi,

ok schade

[2021-11-17 11:44] #327 closed, assigned to nobody

[2021-11-18 09:18] nohn opened #331 "R-Value: Wrong values"
The RKI data source https://raw.githubusercontent.com/robert-koch-institut/SARS-CoV-2-Nowcasting_und_-R-Schaetzung/main/Nowcast_R_aktuell.csv contains PS_7_Tage_R_Wert ("Punktschätzer", "Point estimates"), UG_PI_7_Tage_R_Wert ("Untergrenze 95%", Lower boundary 95%), and OG_PI_7_Tage_R_Wert ("Obergrenze", Lower boundary 95%) while the API lists them as value, 7day value and 4day value which is IMHO

[2021-11-18 16:14] Rubber1Duck commented on #331
Hello,
in TV, Radio and all other medias the PS Value is published, mostly one one value for the R-value! nearly all graphics with a curve from the r-value uses the PS value, not a range ...........
What would you prefer? all three values? but then we have a problem with the 4 day value, because the rki is not providing this value since a few weeks. What this api is providing as 4-day value is sel

[2021-11-18 16:43] nohn commented on #331
OK, so then please help me understand:

- r.rValue7Days.value is the RKI PS value?
- r.rValue4Days.value is calculated internally
- what is r.value? Currently it matches r.rValue4Days.value but is that always the case? My impression in the last days (but I haven't recorded the values) is that it represented one of OG/UG. I would expect r.value to be r.rValue7Days.value (PS), because that's what's

[2021-11-18 18:18] Rubber1Duck commented on #331
yes thats right!

also right

that r.value is always a copy of r.rValue4Days and is shown for legacy reason. the 4 and 7 days values are not provided by this api from the beginning of providing the r value. At the beginning of providing this r-value it was the 4-day r value. at this time the 4 day r-value is provided by rki also! and to not breaking all the Endusers apps it is also outputted!

[2021-11-19 07:29] marlon360 opened #332 "States Map for Hospitalization"
It would be useful to have a map with the hospitalization rate. It is important that the thresholds 3, 6 and 9 are easy to recognize.
The range of the legend should be 0 to more than 15.

[2021-11-19 17:58] #300 closed, assigned to nobody

[2021-11-19 18:26] ezzcodeezzlife opened #336 "API Docs Website Template"
Unusual Issue but what Template is used for the API Docs? (https://api.corona-zahlen.org/docs/) Looks really good ;)

I'll close this issue afterwards. Thanks in advance.

[2021-11-19 19:02] #332 closed, assigned to marlon360

[2021-11-19 19:03] marlon360 commented on #336
Hi @ezzcodeezzlife,

it's the default theme of Vuepress. https://vuepress.vuejs.org

[2021-11-19 19:03] #336 closed, assigned to nobody

[2021-11-19 19:05] #224 closed, assigned to nobody

[2021-11-19 19:05] #322 closed, assigned to nobody

[2021-11-19 21:14] #217 closed, assigned to nobody

[2021-11-19 21:15] #121 closed, assigned to nobody

[2021-11-23 12:08] dontobi opened #340 "ARM Version"
Ich würde gerne den Docker Container auf meinem Raspberry Pi 4 laufen lassen. Leider ist die ARM Architektur nicht unterstützt. Wäre es möglich die Unterstützung von ARM nachzureichen?

[2021-11-23 12:11] marlon360 commented on #340
@Rubber1Duck Auf deinem Raspberry funktioniert es, oder?

[2021-11-23 12:20] dontobi commented on #340
Laut Docker Hub wird lediglich linux/amd64 unterstützt. Ich habe gerade das Compose File geladen und der Container startet bei mir nicht.

[2021-11-23 12:31] marlon360 commented on #340
@dontobi Du kannst versuchen die erste Zeile im Dockerfile zu ändern:
`FROM arm64v8/node:16-alpine3.12`

[2021-11-23 12:33] dontobi commented on #340
Ich versuche mal einen PR hin zu bekommen, damit alle künftigen Releases mit ARM Support kommen.

[2021-11-23 12:33] Rubber1Duck commented on #340
ja das klappt astrein!
ich habe docker files für arm64, armv7 und armv6 auf raspberrys 1,2,3 und 4 getested (sollte aber auch auf deren clones laufen) in meinem docker hub repository
allerdings sind sie nicht zu 100 % funktional gleich zu diesem hier, habe an einigen ecken und kanten rumgebastelt.
wenn du es probieren möchtest
ändere `image: marlon360/rki-covid-server:v2` in `image: rubber4duck/rk

[2021-11-23 12:36] Rubber1Duck commented on #340
gab es schonmal ........... #99

[2021-11-23 12:37] Rubber1Duck commented on #340
selfbuild geht natürlich auch ......

[2021-11-23 12:38] dontobi commented on #340
Okay. Dann spar ich mir die Mühe für ein PR.

[2021-11-23 12:39] Rubber1Duck commented on #340
wie marlon schon geschrieben hat kannst du die erste zeile im Dockerfile ändern, und dann das image auf dem raspberry bauen! dauert aber da libvips komplett compiliert werden muss ..................

[2021-11-23 12:41] dontobi commented on #340
Ich teste es mal mit dem Container von dir. Sollte das laufen (wovon ich ausgehe), dann werde ich nicht selber bauen müssen. Vielen Dank.

[2021-11-23 12:41] #340 closed, assigned to nobody

[2021-11-23 12:55] Rubber1Duck commented on #340
in ca 30 Minuten steht ein Docker image unter dem namen rubber4duck/rki-covid-server-arm:v2 auf Dockerhub bereit, welches eine exakte Kopie dieses Repositorys ist!

[2021-11-23 13:17] Rubber1Duck commented on #340
done, image steht bereit!

[2021-11-23 17:10] Rubber1Duck commented on #340
klabbet ? :-)

[2021-11-23 20:33] dontobi commented on #340
Ja, hat geklappt. Danke nochmal.

[2021-11-24 07:46] JonathanN1203 opened #341 "RKI API issue"
Hi,

currently I get the error **There is a problem with the official RKI API** with the following endpoints:
/districts/09175/history/cases
/states/BY/history/incidence
/germany/history/incidence
Have we to wait or can we change something

[2021-11-24 08:01] hajo62 opened #342 "Wrong number of cases for Germany"
[New Cases for Germany](https://api.corona-zahlen.org/germany) should be 66.884 as shown [here](https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Fallzahlen.html), but the API gives 194.951.
<img width="273" alt="grafik" src="https://user-images.githubusercontent.com/15800980/143197833-73f742b5-b45b-4f04-94ae-ea920ca2292e.png">
<img width="491" alt="grafik" src="https://user-images.gith

[2021-11-24 08:03] Rubber1Duck commented on #341
Same here on my self hosted server.
as the errormessage said .... There is a problem with the official RKI API.
Database looks for a access token which is usually not necessary. this is not the first time this error occurs.
As you can see here

![database](https://user-images.githubusercontent.com/6493772/143198142-d5870107-ab9a-4887-87fa-b87fb02ce30a.png)

the database is still updating (and i th

[2021-11-24 08:04] JonathanN1203 commented on #341
ok, thanks for the info. Which page do you use on the screenshot?

[2021-11-24 08:07] Rubber1Duck commented on #341
[https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/rki_service_status_v/FeatureServer/0/query?where=1%3D1&objectIds=&time=&resultType=none&outFields=*&returnIdsOnly=false&returnUniqueIdsOnly=false&returnCountOnly=false&returnDistinctValues=false&cacheHint=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&having=&resultOffset=&resultRecordCount=&sqlFormat=none&f=html&

[2021-11-24 08:14] Rubber1Duck commented on #342
when did you pull this data?
at the moment there is an error message.
I assume that it is related to the fact that the database of the rki was inconsistent and is therefore now also blocked!
see #341

[2021-11-24 08:19] hajo62 commented on #342
Maybe five minutes before I submitted the issue. But after #341 .
Now the link above shows something with **Token required**...

[2021-11-24 08:20] Rubber1Duck commented on #342
lets wait ........... maybe a few hours!

[2021-11-24 09:04] Shineson1001 commented on #341
Hi,
same problem:
![grafik](https://user-images.githubusercontent.com/22273771/143207028-3acdb72d-393e-4053-920d-2359fb52e6c7.png)

URL:
`https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/RKI_COVID19/FeatureServer/0/query?where=NeuerFall IN(1,-1)&objectIds=&time=&resultType=standard&outFields=AnzahlFall,MeldeDatum,IdBundeland&returnIdsOnly=false&returnUniqueIdsOnly=false&returnCou

[2021-11-24 09:04] Toni-99 commented on #342
Now there is an error.

BTW: Districts Endpoint returns an error as well.

<img width="1671" alt="grafik" src="https://user-images.githubusercontent.com/71496013/143207377-7bf2b763-1ed8-45b0-aca2-c200dbc1912b.png">

<img width="1671" alt="grafik" src="https://user-images.githubusercontent.com/71496013/143207272-c841ad0e-f787-47e5-9955-8f25447e49bf.png">

[2021-11-24 09:40] Rubber1Duck commented on #341
again, please be patient, this bug will be fixed in a while! I'm sure arcgis is working hard on it.
this is not a bug in this API!

[2021-11-24 09:58] csigritz opened #343 "Projekt: Corona Ampel Bayern"
Corona-Ampel Bayern: [https://corona-ampel-bayern.de](https://corona-ampel-bayern.de)

Übersicht über aktuelle Zahlen für Bayern und deren Landkreise. Informationen über aktuell geltende Regeln...
Vielen Dank für die API! Ein Wahnsinnserleichterung!

Viele Grüße,
Christian

[2021-11-24 10:10] Rubber1Duck commented on #342
again, please be patient, this bug will be fixed in a while! I'm sure arcgis is working hard on it.
this is not a bug in this API!

[2021-11-24 10:15] Rubber1Duck commented on #331
@nohn do you think this issue can be closed? or do you have any further questions?

[2021-11-24 10:18] #331 closed, assigned to nobody

[2021-11-24 10:21] #341 closed, assigned to nobody

[2021-11-24 11:25] marcusraitner opened #345 "Error on states endpoint"
Probably a problem with the RKI files …

I get the following when calling `https://api.corona-zahlen.org/states`

`{"error":{"message":"There is a problem with the official RKI API.","rkiError":{"code":400,"message":"","details":["Unable to perform query. Please check your parameters."]},"url":"https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/RKI_COVID19/FeatureServer/0/query?whe

[2021-11-24 11:28] Rubber1Duck commented on #345
#341 #342

[2021-11-24 11:41] marcusraitner commented on #345
Sorry! Had a look at the issue list before opening, but didn't find those.

[2021-11-24 12:20] marcusraitner commented on #345
Is working again

[2021-11-24 12:20] #345 closed, assigned to nobody

[2021-11-24 14:59] csigritz commented on #289
@GlaubeKeinemDev Schau doch mal hier nach: https://www.intensivregister.de
Unter anderem gibt es hier das:

- https://www.intensivregister.de/api/public/reporting/laendertabelle?format=json&onlyErwachsenenBetten=true
- https://www.intensivregister.de/#/aktuelle-lage/downloads (CSV Files)

[2021-11-24 15:04] csigritz opened #346 "Error on frozen-incidence history"
Currently frozen-incidence history endpoint results in an error:

URL: https://api.corona-zahlen.org/states/BY/history/frozen-incidence/14

Error:
[code]

Maybe this is related to the closed issue this morning: https://github.com/marlon360/rki-covid-api/issues/345
Or just a coincidence?

[2021-11-24 15:25] Rubber1Duck commented on #346
The RKI changed once more the layout of the Excelsheet :-(

[2021-11-24 16:04] #346 closed, assigned to Rubber1Duck

[2021-11-24 16:05] #343 closed, assigned to Rubber1Duck

[2021-11-24 17:27] Rubber1Duck commented on #342
it seems all is running again ........... lets close this issue

[2021-11-24 17:27] #342 closed, assigned to nobody

[2021-11-24 22:48] GlaubeKeinemDev commented on #289
Danke für die Info hilft mir auf jeden Fall weiter, vielleicht auch den Entwicklern dieses Projektes.

Liebe Grüße

[2021-11-25 16:33] ghost opened #350 "Unterschiedliche Ergebnisse beim Abruf der Inzidenz / Fälle mit Tagesbegrenzung"
Moin,

der Aufruf https://api.corona-zahlen.org/districts/04012/history/cases/179 gibt ein Array von 0 ... 178 zurück - ok. Der Aufruf https://api.corona-zahlen.org/districts/04012/history/incidence/179 gibt allerdings nur ein Array von 0 ... 177 zurück. Es fehlt der älteste Tag. Der Stadtkreis ist Bremerhaven.

Noch ein Nachtrag. Kann es damit zusammenhängen, dass zufällig die Werte der Inzidenz

[2021-11-25 19:16] Rubber1Duck commented on #350
Hallo PC-Oldie,
das ist ein bekannter Bug! siehe hierzu auch #82
Ich versuche es mal zu erklären:
Die Inzidenz Werte werden nicht von irgendwo direkt abgefragt sondern aus der Anzahl der Fälle der Vorwoche berechnet. Das Programm fragt also die DB des RKI nach Fällen je Tag ab, und damit die Inzidenz vom 30.5.2021 berechnet werden kann werden 6 Tage mehr abgefragt (also 185). es werden also die Fä

[2021-11-25 19:29] Rubber1Duck opened #351 "Information: from today the database (excelfile) of the frozen-incidence data is only updated weekly!"
Information: from today the database (excelfile) of the frozen-incidence data is only updated weekly!
This means that there are no current frozen-incidence values ​​for the next 6 days. As it has been on the weekends for some time.

see here:
![frozen-incidence](https://user-images.githubusercontent.com/6493772/143492921-37b370e2-7cf2-4712-8970-a88040fdbdde.png)

or here

![frozen-incidence2](http

[2021-11-25 19:39] Rubber1Duck commented on #351
@marlon360  any chance to buffer the values vor 6 days on mass storage? (i know you dont want to do this ......). Or do we have to live with it?

[2021-11-26 09:27] ghost commented on #350
Moin Rubber1Duck,

vielen Dank für die Erklärungen. Dann werde ich einfach wie bislang immer die kompletten Daten verarbeiten.

Gruß
Hans

[2021-11-27 06:20] olebohmbach opened #352 "Hospitalisierungsrate auch bei Landkreisen zur Verfügung stellen"
Die Hospitalisierungsrate auch bei Landkreisen zur Verfügung stellen, Nicht nur bei den Bundesländern oder ganz Deutschland.

[2021-11-27 15:38] JonathanN1203 commented on #352
hast du davon zufällig nen link, unter dem finde ich nix https://raw.githubusercontent.com/robert-koch-institut/COVID-19-Hospitalisierungen_in_Deutschland/master/Aktuell_Deutschland_COVID-19-Hospitalisierungen.csv

[2021-11-27 19:11] nikos opened #353 "Frage/Dokumentation: Historische Entwicklung Reproduktionszahl/Impffortschritt/Altersverteilung"
Ist es geplant auch die *historischen* Verläufe (soweit man da drankommt) für den:
* R-Wert
* Impfquote (pro Bundesland?)
* Altersverteilung (pro Bundesland?)

bereitzustellen?

[2021-11-28 10:30] EmBeEins opened #354 "Request // Impfquoten je Landkreis"
Impfquoten auf Landkreis-Ebene

https://github.com/robert-koch-institut/COVID-19-Impfungen_in_Deutschland#variablen-1

[2021-11-28 12:34] olebohmbach commented on #352
Ich habe leider keinen gefunden

[2021-11-28 18:27] DerKutscher opened #355 "Telegram Chatbot"
Covid Landkreis Zahlen Chatbot auf Telegram https://t.me/COVID_19_GER_bot

Für eine schnelle und einfache Möglichkeit die Wichtigsten Zahlen für einzelne Landkreise abzufragen.

Danke für die API. Hat mir sehr geholfen alle zahlen einzubinden ;)

[2021-11-29 01:22] SystemKeeper commented on #352
https://github.com/robert-koch-institut/COVID-19-Hospitalisierungen_in_Deutschland/issues/2

[2021-11-29 05:55] ninja-warrior commented on #354
Achtung: Mit den Zahlen lässt sich keine Impfquote je Landkreis ermitteln. Die Zahlen bündeln die Impfungen nur nach der Örtlichkeit, an der die Impfung durchgeführt wurde. (siehe auch Hinweis im Link)

[2021-11-29 06:02] Rubber1Duck commented on #354
Wie schon geschrieben ist eine Quote nicht möglich, Anzahl der impfungen je Landkreis aber schon, fragt sich nur wie nützlich die dann noch sind.

[2021-11-29 06:05] #350 closed, assigned to nobody

[2021-11-29 06:06] Rubber1Duck commented on #352
Sollte erledigt sein ....

[2021-11-29 06:06] #352 closed, assigned to nobody

[2021-11-29 09:46] csigritz opened #356 "frozen-incidence history (days): number of results"
Currently the URL https://api.corona-zahlen.org/states/HH/history/frozen-incidence/7 gives us a result of 3 entries:
[code]

Last week the RKI changed the publishing frequency of the parsed xlsx file from daily to weekly:
https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Fallzahlen.html

Is this the intended behavior? Or should it give 7 entries up to the last known date?

[2021-11-29 19:10] HappyFr1tz commented on #356
As far as I know, the API looks from today's date to the last seven days. If there are a few days without data, they are missing from the API and have gaps. The same problem is also with the history for vaccinations. However, a solution is currently being worked on, see: #351

[2021-11-29 19:12] Toni-99 commented on #355
Hey, i dont want to make some ads but CoronaBot has its own Telegram Bot, that you can find by the name @GER_CoronaBot

[2021-11-29 19:13] Toni-99 commented on #355
Bro ich finde Konkurrenz super aber kennst du schon @GER_CoronaBot? Ist die Telegram Version meines Bots. Kannst du dir ja gern mal ansehen 👌🏻

[2021-11-29 19:39] csigritz commented on #356
@HappyFr1tz Thx. Then my ticket is a duplicate and i will close it.

[2021-11-29 19:39] #356 closed, assigned to nobody

[2021-11-29 19:55] DerKutscher commented on #355
Danke für deinen Hinweis. allerdings würde ich nicht von Konkurrenz sprechen ;) denke jedes tool hilft derzeit. Zudem verfolgen wir unterschiedliche nutzungsformen und somit Vorteile für unterschiedliche nutzergruppen.

[2021-11-30 10:50] Rubber1Duck commented on #351
JIT calculation is possible .................. , but to do that on Wednesday (one day before the excelsheet is updated again) 6 files, each currently over 150MB, of daily data (from the RKI archive) would have to be downloaded and processed in order to get the new cases of each day, thats ~1GB of traffic and the processing time won't be great either. that is absolute overkill. (and the filesize is

[2021-12-01 13:02] p3ngu1n-net commented on #289
Ich habe einen Bot, der mir jeden Tag die Auslastung der Intensivbetten (Quelle DIVI) für DE gesamt, pro Bundesland und Landkreis usw. zusammenträgt und aufbereitet - ich könnte das als API zur Verfügung stellen. Könnte hier dann auch eingebunden werden oder so...

[2021-12-01 16:27] GlaubeKeinemDev commented on #289
Für mein Projekt hab ich jetzt einfach 2 APIs als Datenquellen, deshalb haben mir die Daten vom DIVI sehr geholfen.

[2021-12-02 21:36] csigritz opened #357 "/states/BY returns error code 404"
Currently requests to https://api.corona-zahlen.org/states/BY return a 404 error code

[code]

[2021-12-02 22:10] csigritz commented on #357
Is working again.... closing the issue

[2021-12-02 22:11] #357 closed, assigned to nobody

[2021-12-06 07:53] Rubber1Duck commented on #351
As of today, the Excel file is updated on Mondays instead of Thursdays!
What a kindergarten .....

![frozen-incidence3](https://user-images.githubusercontent.com/6493772/144807234-7c3be829-bc09-4187-a017-d5b59c2f59aa.png)

I'm working on a solution, be patient ...
Today I was ready for the first tests .... but unfortunately that is no longer possible now, I have to wait until tomorrow .....

[2021-12-07 00:26] Rubber1Duck opened #358 "germany and states history frozen-incidence is not working"
for both cases history is empty!
The RKI changed the start row of the sheet.... :- (

[2021-12-07 09:59] #358 closed, assigned to Rubber1Duck

[2021-12-07 20:06] 42nao opened #361 "Get AGS by the name of the district"
Is it possible to find out the AGS code from the name? And if so how would I program that in Python?

[2021-12-08 17:29] HappyFr1tz commented on #361
Hi, there are already enough other connections where you can already incorporate this. Look here: https://github.com/digineo/gemeindeverzeichnis

[2021-12-08 21:15] #361 closed, assigned to nobody

[2021-12-09 06:26] Friedi1970 opened #362 "Wrong delta cases (all data is not updated today!)"
When I get the delta cases of Bamberg Landkreis I am getting the number of yesterday. The last update was 2021-12-09T00:00:00.000Z, though.

All delivered numbers are from the day before. There was no update.

`{"data":{"09471":{"ags":"09471","name":"Bamberg","county":"LK Bamberg","state":"Bayern","population":147497,"cases":11899,"deaths":172,"casesPerWeek":952,"deathsPerWeek":0,"stateAbbreviatio

[2021-12-09 06:35] Rubber1Duck commented on #362
it seems thats a issue at RKI!
The Dashboard shows up a new incidence of 338.1!!!!! (yesterday 427 !)
The arcis database and the csv on github seems to be updated but it is not! it is the same data as of yesterday!
dont panic :-) i think they will do a update ..................

[2021-12-09 06:56] Friedi1970 commented on #362
I won't 🤣
I just thought it may caused by the API.

[2021-12-09 08:21] Rubber1Duck commented on #362
The RKI fixed the issue! if the data of the api is not actual, this is because the redis cache is not flushed! just wait 30 minutes ...........

[2021-12-10 07:10] Friedi1970 commented on #362
Hmm 🧐 It is again the numbers of yesterday…

[2021-12-10 07:31] Rubber1Duck commented on #362
as you can se here [https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/rki_service_status_v/FeatureServer/0/query?where=1%3D1&objectIds=&time=&resultType=none&outFields=*&returnIdsOnly=false&returnUniqueIdsOnly=false&returnCountOnly=false&returnDistinctValues=false&cacheHint=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&having=&resultOffset=&resultRecordCount=&sql

[2021-12-10 07:34] Friedi1970 commented on #362
Ah, got you.
So I will postpone my notifier to 9 instead of 6.

[2021-12-10 12:08] Friedi1970 commented on #362
I wonder if it would be possible to deliver a datum whether the data has already been updated, update is running and maybe an error?
I mean, at the moment it is impossible to decide whether the data has been updated or not. The timestamp is not useful :(

[2021-12-12 13:24] GlaubeKeinemDev opened #363 "Discord Corona Bot"
Zahlen, Tägliche Updates und Vorhersagen zu Covid-19.

Zahlen und Daten hauptsächlich von dieser API und dem DIVI.

Link: [DiscordCoronaBot](https://github.com/GlaubeKeinemDev/DiscordCoronaBot)

Liebe Grüße

[2021-12-13 18:39] Rubber1Duck commented on #362
You are right, it is impossible ............. for the API too!
it is very difficult to decide that (if the data is updated or not) and at the moment that maybe possible logic is not coded!

p.s. sorry for answering so late ....... i was on vacation the last days

[2021-12-13 18:48] Friedi1970 commented on #362
That‘s really sad :(

[2021-12-18 01:08] chritzl opened #364 "corona-in-bw.de"
Statistik für Baden-Württemberg mit Differenz zum Vortag. Im "wird noch erweitert"-Modus.

[2021-12-19 16:59] Kolap5s commented on #354
Hallo an alle,

weiss jemand ob es irgendwo genaue Daten zur Altersverteilung bei den Impfungen (total, erst, zweit, dritt) seit Beginn der Impfkampagne gibt? Beim RKI gibt es nur eine relative Impfverteilung nach Altersgruppen (<18, 18-60, 60+) ab dem 17.9.2021 aber keine Informationen davor. Ideal wäre eine Aufteilung von Impfquoten bzw. absoluten Zahlen per Alterskategorie 0-15, 15-30, 30-45, e

[2021-12-21 08:36] #355 closed, assigned to nobody

[2021-12-21 08:36] #363 closed, assigned to nobody

[2021-12-21 08:36] #364 closed, assigned to nobody

[2021-12-21 08:57] hajo62 opened #366 "Wrong vaccination quote data"
https://api.corona-zahlen.org/vaccinations
[code]
Quote wrong for Germany as well as for States and other quotes like boostered which reports 86,1% for Germany.

I'm not sure which rki table exactly is used, but the vaccination table show i.e for Germany 70,4 %...

[2021-12-21 10:06] Rubber1Duck commented on #366
The RKI added a column .............

[2021-12-21 10:31] #366 closed, assigned to Rubber1Duck

[2021-12-25 08:56] nics-on opened #368 "Datenaufbau "cases/recovered - delta/omnicron""
Zunächst vielen Dank für die Bereitstellung der API.

Mir fiel auf dass die Genesenen unter https://api.corona-zahlen.org/germany/history/recovered  sehr rückläufig sind.
Bsp.
`{"recovered":723,"date":"2021-12-20T00:00:00.000Z"}`
vs
`{"recovered":7503,"date":"2021-05-21T00:00:00.000Z"}`

Parallel dazu gibt es bei "Delta" Genesenen unter https://api.corona-zahlen.org/germany , mehr Genesene als Erk

[2021-12-25 12:23] Rubber1Duck commented on #368
Frohe Weihnachten allen!

in der gesamten API findet KEINE Unterscheidung zwischen den verschiedenen Corona Varianten statt!
das "delta" unter /germany beschreibt nicht die Corona Variante "Delta" sondern den Unterschied zum Vortag! Heute wurden also für gestern 38.546 neu Genesene "angenommen" (siehe hierzu auch die Erklärung des RKI)
`Hinweis zu Genesenen
Anhand der dem RKI von den Gesundheitsäm

[2021-12-26 08:39] nics-on commented on #368
Wünsche natürlich auch frohe Weihnachten.
@Rubber1Duck , vielen Dank das löst den Knoten ;)
Das war wohl ein klassisches Missverständnis, "delta" ist dann als Variablenbezeichnung etwas ungünstig "geworden" :)

Vielen Dank & schöne Feiertage noch 🤝

[2021-12-26 08:39] #368 closed, assigned to nobody

[2021-12-26 09:07] nics-on commented on #289
vielen Dank für den Hinweis klappt wunderbar 👍
![image](https://user-images.githubusercontent.com/28743943/147403667-fe5afd31-1140-44b1-a311-45c30470bd94.png)

[2021-12-27 14:17] Rubber1Duck opened #369 "Newest Excelsheet for frozen-incidence values for districts is faulty"
The RKI struck again.
![frozen-incidence4](https://user-images.githubusercontent.com/6493772/147479786-ff9d5743-27a3-476c-bab5-1c264b9c4003.png)
as you can see they dont fill the first row with dates for the last 7 days! :-(
so there are no values for the last 7 days for districts!
Germany and states works fine!

[2021-12-30 20:32] marlon360 commented on #369
<img width="963" alt="Bildschirmfoto 2021-12-30 um 21 31 38" src="https://user-images.githubusercontent.com/11810704/147786165-7f6814d9-90a0-4771-8446-77c446c2d214.png">

I think they fixed it. But thanks for opening the issue!

[2021-12-30 20:32] #369 closed, assigned to Rubber1Duck

[2021-12-31 12:05] erbse83 opened #371 "District History Values"
Hallo!
ich habe festgestellt, dass die History-Werte der Inzidenzen meines Landkreises in den Daten (https://api.corona-zahlen.org/districts/05774/history/incidence/4) nicht mit den Werten der Realität übereinstimmen...
Die tagesaktuellen Daten stimmen, aber in der History sind ganz andere Werte vorhanden. Ich beobachte das nun schon mehrere Tage...
Ist das etwas bekannt oder mache ich einen Fehle

[2021-12-31 12:12] marlon360 commented on #371
Duplicate #64

[2021-12-31 12:16] erbse83 commented on #371
oh! ok. Thanks. happy new Year! And thanks for your work!

[2021-12-31 12:16] marlon360 commented on #371
You can use the frozen-incidence endpoint: https://api.corona-zahlen.org/districts/05774/history/frozen-incidence/14

[2021-12-31 12:16] #371 closed, assigned to nobody

[2021-12-31 12:26] erbse83 commented on #371
these values ends a few days before yesterday - is it because of the holidays?

[2021-12-31 18:02] Rubber1Duck commented on #371
no it is because the RKI update this values only on mondays look here #351

[2021-12-31 18:06] Rubber1Duck commented on #371
thats the last values
MariaDB [dfki]> select date,ags,value from districts where ags='05774' and typeid='8' and date >'2021-12-20';
+------------+-------+----------+
| date       | ags   | value    |
+------------+-------+----------+
| 2021-12-21 | 05774 | 278.2688 |
| 2021-12-22 | 05774 | 276.9715 |
| 2021-12-23 | 05774 | 255.5662 |
| 2021-12-24 | 05774 | 227.3501 |
| 2021-12-25 | 05774 | 199.782

[2021-12-31 18:09] Rubber1Duck commented on #371
i am working for a workaround but this is not realy easy and needs a lot of Data to calulate these things ........... not sure if marlon whants du implement this ........... (round 1,2 gig Diskspace and 500 MB RAM is needed .............. and a mariadb dockercontainer .......... :-(

[2022-01-08 13:36] EmBeEins opened #373 "probable error ./germany/history/deaths/"
In my opinion, the values are not valid.

https://api.corona-zahlen.org/germany/history/deaths/2

[2022-01-08 15:07] Rubber1Duck commented on #373
my "Glaskugel" is out of the home  :-) ............ why do you think they are not valid?

maybe you should read #64 !? witch is pinned at the top of the issues!

this is already valid for the deaths .....

but maybe you have another issue ?!

[2022-01-09 12:30] HappyFr1tz opened #374 "Error at /states"
An error occurs when querying the states
https://api.corona-zahlen.org/states -> "An error occurred while fetching external data."

[2022-01-09 13:02] marlon360 commented on #374
Thanks for reporting.
A server restart fixed it.

[2022-01-09 13:02] #374 closed, assigned to nobody

[2022-01-09 13:04] #373 closed, assigned to nobody

[2022-01-09 18:58] shellixa opened #377 "Impfquoten machen keinen Sinn?"
https://api.corona-zahlen.org/vaccinations -> data.states.SN.boosterVaccination.quotes
(Werte vom 09.01.2022)
`*total*` ist größer als `A12-A1`
Zu welchem Wert ist es welche Quote?

Danke für eine Antwort!

[2022-01-09 19:00] marlon360 commented on #377
Pinging @Rubber1Duck

[2022-01-09 22:13] Rubber1Duck commented on #377
Hi Logianer,

did you read the docs? [https://api.corona-zahlen.org/docs/endpoints/vaccinations.html](https://api.corona-zahlen.org/docs/endpoints/vaccinations.html)

[code]
total = gesamtquote aller Einwohner im Bundesland bzw. gesamt Deutschland
A12-A17 = Quote aller Jugendlichen von 12 - 17 Jahren
A18+.total = Quote aller 18 plus jährigen
A18+.A18-A59 = quote aller Erwachsenen von 18 bis 59 Jah

[2022-01-10 05:35] shellixa commented on #377
Wer lesen kann ist klar im Vorteil...

[2022-01-10 05:35] #377 closed, assigned to nobody

[2022-01-10 17:47] Rubber1Duck commented on #377
kein Problem ....

[2022-01-11 09:53] Friedi1970 opened #378 "Extreme slow response"
When trying to access e.g. https://api.corona-zahlen.org/districts/02000 the response takes a very long time.
I use the API in Home Asistant with a REST sensor and it stops working this morning due to the delay.

[2022-01-11 09:59] Rubber1Duck commented on #378
my selfhosted raspi responses normal, so this should be a server issue, or a issue with the transparent proxy!
@shinebar1001 is the proxy running normal?

[2022-01-11 10:32] marlon360 commented on #378
I switched the server a few months ago. It is not using the proxy server anymore. It is now hosted on railway.app and cached with CloudFlare.

[2022-01-11 10:42] marlon360 commented on #378
Restarted the server. Hopefully this fixes the issue.
Lately there are some problems with Google Cloud maybe this is related.

[2022-01-11 10:46] Friedi1970 commented on #378
It seems to be solved :)
Thanks!

[2022-01-11 11:04] #378 closed, assigned to nobody

[2022-01-11 20:43] Rubber1Duck commented on #321
Reopend this Issue, because a patch is now availible....

[2022-01-18 10:13] Rubber1Duck opened #380 "fixed incidence values for many districts are faulty for 2022-01-16 and 2022-01-17"
many values for 2022-01-16 and 2022-01-17 are faulty. The RKI shufted since Berlin-Mahrzahn-Hellersdorf the rows by 1. Berlin Mahrzahn-Hellersdorf has reported 0 new cases  for a few days so the incidence valu went to 0 for 16. and 17. maybe thats the reason!
I wrote a e-mail to the RKI and gave them a hint , dont know if they are reacting..........
Thats a data source error and only a hint here!

[2022-01-18 11:43] Rubber1Duck commented on #380
The RKI responded to my email and corrected the file!

[2022-01-18 11:43] #380 closed, assigned to nobody

[2022-01-18 13:26] nils-mac opened #381 "Wrong Vaccination Quotes / Fehler der Impfquoten"
Hallo,
Die Impfquoten werden falsch angezeigt. 36% mind einfach geimpft, 88.5% mind. zweifach geimpft und 83,2% geboostert kann ja irgendwie nicht sein. Liegt das am Fehler des RKI oder was ist passiert?
Vielen Dank für die Bereitstellung der Daten.
LG

[2022-01-18 13:28] Rubber1Duck commented on #381
structure in the excel file is changed, the parser must be patched ..........

[2022-01-18 13:33] nils-mac commented on #381
Ok...

[2022-01-19 08:34] #381 closed, assigned to Rubber1Duck

[2022-01-19 11:36] marcusraitner commented on #381
Bei mir past es wieder.

[2022-01-28 12:09] Yanere opened #383 "Project: Covid 19 Statistics Germany"
Hi Marlon,

first of all thank you for providing the data. I have created a page that shows the statistics for Germany and individual states.
Visitors will also find links to the most important topics. Be it information about Covid 19, the vaccination or corona tests.

https://covid19ger.netlify.app/

P.s enjoy the coffee 😄

[2022-01-28 13:20] marlon360 commented on #383
Great job! Thanks for submitting your project!

Thank you very much! But also a shoutout to @Rubber1Duck for his contributions!

[2022-01-28 15:31] Yanere commented on #383
Oh i forgot, thank you @Rubber1Duck

[2022-01-30 15:56] csigritz opened #385 "Frozen Incidence only available to 2022-01-24"
When fetching https://api.corona-zahlen.org/states/BY/history/frozen-incidence/14 the result does only contain entries up to 2022-01-24. Seems like later data is not available.

[2022-01-30 21:56] Rubber1Duck commented on #385
just look at #351
therefor tomorrow you will have the missing entrys ....

[2022-01-30 21:57] #385 closed, assigned to nobody

[2022-01-30 22:47] Rubber1Duck commented on #383
You're welcome

[2022-01-30 22:49] Rubber1Duck commented on #383
Thanks you too

[2022-02-01 13:07] Friedi1970 opened #387 "Extremely slow"
It seems there is again a problem with the server. The responsive time is extremely high.
Example: https://api.corona-zahlen.org/districts/09180

It really seems there is no access and sometimes I get a timeout.

[2022-02-01 13:09] Friedi1970 commented on #387
@marlon360 would it be possible to restart the server?

[2022-02-01 13:14] #383 closed, assigned to nobody

[2022-02-01 13:19] Rubber1Duck commented on #387
I dont think that this is a server issue because my own server is responding slow this morning, too! maybe a RKI Data issue, or a RKI server issue!

[2022-02-02 07:07] Toni-99 opened #388 "Response of /germany EP throws an invalid url error"
Response:

    "error": {
        "message": "There is a problem with the official RKI API.",
        "rkiError": {
            "code": 400,
            "message": "Invalid URL",
            "details": [
                "Invalid URL"
            ]
        },
        "url": "https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/RKI_COVID19/FeatureServer/0/query?where=NeuerFall IN(1,-1)

[2022-02-02 07:14] Rubber1Duck commented on #388
it looks like all arcgis pages relevant to this app are currently unavailable! :-(

[2022-02-02 09:08] kian1991 commented on #388
I think a token is required now...

[2022-02-02 10:16] GlaubeKeinemDev commented on #388
I got the same problem.

[2022-02-02 10:23] Rubber1Duck commented on #388
Thats not the first time this happens! we have to wait until arcgis has solved this problem!

[2022-02-02 13:59] permaMonk commented on #388
Ok. Thx.

[2022-02-02 17:40] Rubber1Duck commented on #388
everything is running again ........ close this issue

[2022-02-02 17:40] #388 closed, assigned to nobody

[2022-02-02 17:41] Rubber1Duck commented on #387
this is solved i think... close this issue

[2022-02-02 17:41] #387 closed, assigned to nobody

[2022-02-04 16:21] scrapix commented on #289
@qwartzi veröffentlichst du deine Ergebnisse irgendwo?

[2022-02-04 16:23] scrapix opened #390 "Impfstatus symptomatischer Coronafälle"
Hi, gibt es eine Möglichkeit die Daten zum "Impfstatus symptomatischer Coronafälle" aus den RKI Wochenberichten per API zur Verfügung zu stellen?
z.B. https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Situationsberichte/Wochenbericht/Wochenbericht_2022-02-03.pdf?__blob=publicationFile

![image](https://user-images.githubusercontent.com/23144020/152564917-3027f8f7-f0cd-4d9c-ac69-c4bda103

[2022-02-04 19:55] Rubber1Duck commented on #390
nichts ist unmöglich ............. aber hier glaube ich schwer zu machen, da es keinen festen Anker gibt an dem man sich orientieren könnte. Sollte es so sein, was natürlich zu prüfen währe, das es immer Tabelle 3 ist währe es vieleicht möglich, aber nur vieleicht, und sollte der Ersteller des PDF sich mal nicht daran halten das es Tabelle 3 ist läuft wieder alles auf einen Fehler ................

[2022-02-07 09:51] lweberru opened #391 "An error occurred while fetching external data"
I am self-hosting the container and since some time I am getting the following error as response:

`curl http://<MYIP>:<MYPORT>/vaccinations`

`{"error":{"message":"An error occurred while fetching external data.","url":"https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Daten/Impfquotenmonitoring.xlsx?__blob=publicationFile","details":"getaddrinfo EAI_AGAIN www.rki.de","stack":"Error: g

[2022-02-07 21:21] Rubber1Duck commented on #391
Hi,
this should not be a issue with this app!
witch nameserver are you using? are you able to try another one?

what is the output off
`cat /etc/nsswitch.conf` on the system where the docker container is running?

[2022-02-07 21:29] Rubber1Duck commented on #391
you can also try to restart the container
`docker-compose down`
`docker-compose up`

the error still accours?

[2022-02-07 21:41] Rubber1Duck commented on #391
one more thing, did you update this app to the latest version?
try this
`docker-compose -f path/to/your/docker-compose.yaml down && docker-compose -f path/to/your/docker-compose.yaml pull && docker-compose -f path/to/your/docker-compose.yaml up -d -V`

[2022-02-08 09:27] lweberru commented on #391
Hi,
yes I am running latest version. And restarted the container multiple times. Content
[code]
I can also resolv dns names within the container:
[code]
I can also curl from host machine the docs url:
[code]
The redirect also works but skipped to post it here. Only things like
[code]
fail

But I had an DNS Problem before, not letting containers resolv dns entries. But this is fixed. So could it be

[2022-02-08 09:29] lweberru commented on #391
Ah I cleared the redis cache with a
`redis-cli FLUSHDB`
and now its working again :-)

[2022-02-08 14:51] Rubber1Duck commented on #391
great!
will close the issue

[2022-02-08 14:51] #391 closed, assigned to nobody

[2022-02-09 07:37] nics-on commented on #289
@scrapix derzeit noch nicht, es sollte mir zunächst der Übersicht dienen, da es schwierig ist sich eine objektive Meinung zu bilden wenn man die Daten immer nur subjektiv propagiert bekommt :)
Ich binde gelegentlich auch neue Datenquellen mit ein um Vergleiche zu erstellen, z.B. Intensivregister, Impfdashboard, die RKI CSV Rohdaten aus Github... u.s.w :)
Sollte ich etwas veröffentlichen, teile ich

[2022-02-09 08:38] mklippel opened #393 "Frozen Incidence URL hat sich geändert"
Hallo,

ich benutze die Frozen incidence der API. Soweit ich das verstehe wird dabei ja eine Excel Datei runter geladen und die einzelnen Sheets dabei auseinander gepflückt und diese Daten werden dann zur Verfügung gestellt.

Mein Aufruf: https://api.corona-zahlen.org/districts/11111/history/frozen-incidence/7
Dabei kommt folgender Fehler:
`
{
error: {
message: "An error occurred.",
details: "Inva

[2022-02-09 08:56] Rubber1Duck commented on #393
is in work .............. see #392

[2022-02-09 17:13] quito96 opened #394 "{"error":{"message":"An error occurred.","details":"Invalid HTML: could not find <table>","
Hallo Marlon,

bei der Seite https://api.corona-zahlen.org/states/HH/history/frozen-incidence/7 gibt es Fehler.
Ein Thema beim RKI ?

VG

[2022-02-09 17:34] HappyFr1tz commented on #394
The same problem as #393

[2022-02-09 17:40] #394 closed, assigned to nobody

[2022-02-09 22:01] #393 closed, assigned to nobody

[2022-02-13 17:06] GlaubeKeinemDev opened #397 "Not the right color code when requesting /map/districts/legend"
If you request /map/districts/legend it says you the right color code for incidence range 350-500 is #5D179B but the right color code is #5e189b.

[2022-02-13 19:44] Rubber1Duck commented on #397
I am on vacation, and i am not able to verify that, but for my point of view that is Not possible, but there is one way that this could be happend.
The resulting png Image is send With quality 75 and maybe that is the problem, maybe the Kompression Algorithmus is changing the colors a lite bit

[2022-02-16 05:30] MrNigt opened #399 "API liefert keine Daten mehr # u.a. Token Error"
Germany:

{"error":{"message":"There is a problem with the official RKI API.","rkiError":{"code":499,"message":"Token Required","messageCode":"GWM_0003","details":["Token Required"]},"url":"https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/RKI_COVID19/FeatureServer/0/query?where=NeuGenesen IN(1,0)&objectIds=&time=&resultType=standard&outFields=AnzahlGenesen,MeldeDatum&returnIdsOnl

[2022-02-16 07:39] JonathanN1203 commented on #399
You have to wait until the rki has updated the files

[2022-02-16 07:45] MrNigt commented on #399
The Dashboard Data is already updated. Please refer to https://experience.arcgis.com/experience/478220a4c454480e823b17327b2bf1d4

[2022-02-16 13:55] D035136 opened #400 "Problems with GET requests"
Hi Marlon,
currently we are facing issues when trying to address the following endpoints:
states
germany
districts

Example error message from states:
{"error":{"message":"There is a problem with the official RKI API.","rkiError":{"code":499,"message":"Token Required","messageCode":"GWM_0003","details":["Token Required"]},"url":"https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/RK

[2022-02-16 14:09] JonathanN1203 commented on #400
Hi Chris,

this is a issue from the rki, we have to wait.

[2022-02-16 17:08] HappyFr1tz commented on #400
The same as #399 . I think you could close this issue.

[2022-02-17 05:09] neelix82 commented on #399
https://arcgis.esri.de/aenderung-des-rki-covid-19-datensatzes/

[2022-02-17 08:30] csigritz commented on #399
Is someone doing a fix for this issue?

[2022-02-17 09:10] Rubber1Duck commented on #399
I am on vacation, sorry no IDE available.
May be home on next monday.
But i thing Marlon will do the Job.
Or if anyone is able .... do it, Marlon will be happy

[2022-02-17 10:32] Rubber1Duck commented on #400
duplicate, close this issue

[2022-02-17 10:32] #400 closed, assigned to nobody

[2022-02-17 11:21] Rubber1Duck commented on #399
i just stolen the laptop of my wife, installed some tools, and made aquick patch! but i`m not able to test this! dont want to install docker here too!) and maybe she will speak to me tomorrow again.... :-)
anyone willing and able to test branch new_datasource?

[2022-02-17 17:08] HappyFr1tz commented on #399
Hi, I still get the error message. Is it intentional that this issue was closed? @marlon360

[2022-02-17 17:34] geektoor commented on #399
@HappyFr1tz you sure? Can you check or post your request here as well? Because as far as i can see, all data sources work fine again.

[2022-02-17 17:40] HappyFr1tz commented on #399
Now it runs @geektoor

[2022-02-17 17:59] JonathanN1203 commented on #399
soweit ich das sehen kann, besteht das Problem weiterhin bei der URL  https://api.corona-zahlen.org/districts/07131/history/incidence/7

[2022-02-17 18:32] Rubber1Duck commented on #399
reopen Issue because of ongoing problems with some districts/:ags because IdLankreis is now a integer and not a string (i think)

[2022-02-17 18:57] geektoor commented on #399
I briefly checked the changes and if i'm not completely wrong, the "MeldeDatum" timestamp seems to be the issue. Instead of messing around with creating a string to calculate the TIMESTAMP, it seems to work fine to just let the database do it:
[code]
might be simply changed to:
[code]
But just take it as a hint, i have no idea about the internals of the rki-api  and might be simply wrong.

[2022-02-21 17:53] #399 closed, assigned to nobody

[2022-02-21 18:01] Rubber1Duck commented on #399
hi @JonathanN1203

hi @JonathanN1203 this is patched now!

[2022-02-21 18:31] JonathanN1203 commented on #399
@Rubber1Duck thx

[2022-02-22 07:23] cc13com commented on #399
Hi all,

could it be that the docker container isn't updated/patched? I use the container on my own server and run in the following issue if I try to request from this url: `https://api.my-domain.tdl/districts/09564/history/incidence`

[code]

I pulled the container 5 min ago.

[2022-02-22 07:42] JonathanN1203 commented on #399
Hi,

I use the newest version of the API on my Server, this is working well https://corona.api.jnebel.de/districts/09564/history/incidence

Do you have restartet your docker container?

[2022-02-22 08:07] cc13com commented on #399
Hi @JonathanN1203

yes I restarted the container. But, I remembered on issue [206](https://github.com/marlon360/rki-covid-api/issues/206) and restarted the container with `-V` option. Now it looks good.

Thanks!

[2022-02-22 10:48] Rubber1Duck commented on #397
@GlaubeKeinemDev Hi,
i just make some test to verify what you meen.
the colorcode is defined here
https://github.com/marlon360/rki-covid-api/blob/1782abe75f02101251a0b48a46a4f6fc7d4790ae/src/configuration/colors.ts#L94-L98
so for range 350-500 the color should be #5D179B
today the resulting image is
![districts-legend](https://user-images.githubusercontent.com/6493772/155116236-90301178-4ed3-4d07-

[2022-02-22 11:48] Rubber1Duck commented on #399
it is always a good idea to restart the container with the -v option!

i made a alias for me to make it easier

`alias restart-rki='docker-compose -f ~/rki-covid-api/docker-compose.prod.yaml down && docker-compose -f ~/rki-covid-api/docker-compose.prod.yaml pull && docker-compose -f ~/rki-covid-api/docker-compose.prod.yaml up -d -V'`

[2022-02-22 12:02] cc13com commented on #399
In this case I'm totally with you. But I started my Grafana Container in the past once with `-V` and run in an issue. Lost most of my dashboard configuration. ;-) Therefore I'm handle it carefully.

[2022-02-22 18:10] Rubber1Duck commented on #390
Ich denke das Issue kann geschlossen werden, eine Ausleitung aus einem PDF ist nicht unmöglich aber wie schon gesagt nicht praktikabel ........ sorry

[2022-02-22 18:10] #390 closed, assigned to nobody

[2022-02-22 18:15] Rubber1Duck commented on #351
I've tried a lot, but unfortunately I don't see a feasible solution with a reasonable amount of data!

so i will close this issue

[2022-02-22 18:19] Rubber1Duck commented on #284
no further replies for 3 months .... will close this issue

[2022-02-22 18:19] #284 closed, assigned to nobody

[2022-02-22 18:20] Rubber1Duck commented on #227
no further replies for 8 months .... will close this issue

[2022-02-22 18:20] #227 closed, assigned to nobody

[2022-02-23 09:25] krz opened #404 "Inzidenzdaten Landkreise vor 18.11.2020"
Hi,

über `https://api.corona-zahlen.org/districts/history/frozen-incidence/600` kriegt man die frühesten Daten vom 18.11.20. Wie kann noch ältere Daten bekommen, idealerweise seit Beginn der Pandemie im Frühjahr 2020.
Ich weiß dass es die mal direkt vom RKI gab, aber da finde ich auch nichts mehr.

Danke!

[2022-02-23 10:49] Rubber1Duck commented on #404
Hallo krz,
Wenn du sie nur einmalig brauchst kann ich sie dir als csv Datei bereitstellen! (eigenberechnet aus den Daten des RKI)
fühest mögliches Datum ist der 21.3.2020

[2022-02-23 11:57] krz commented on #404
Danke @Rubber1Duck , das wäre toll. Am besten Inzidenz (7 Tage) und Todesfälle (pro 100k Einwohner) wenn du die hast.

[2022-02-23 12:24] Rubber1Duck commented on #404
hier schonmal die Incidencen vom 21.3.2020 bis 30.11.2020 ((bzw. was frühestens möglich war zu berechnen)
[Incidence.zip](https://github.com/marlon360/rki-covid-api/files/8124238/Incidence.zip)
ohne Gewähr auf Richtigkeit.
Die Todesfälle auch auf die letzten 7 Tage bezogen (also eine Todesfall Incidence) oder einfach  kumuliert umgerechnet auf 100k Einwohner? erklär mal möglichst genau.
zu beachte

[2022-02-23 13:03] krz commented on #404
danke, diese Datei sieht sehr gut aus (vom 21.-23.3. sind allerdings nur 0 und NA).
Am liebsten wäre mir sowohl absolute Todesfälle pro Tag als auch umgerechnet auf 100k Einwohner, dann kann ich das mit den API Daten kombinieren. Einen rollierenden 7-Tage Durchschnitt ö.ä. kann ich zur Not selbst berechnen.

Allerdings gibt es die Todesdaten über die API erst ab 25.1.22
`https://api.corona-zahlen.

[2022-02-23 15:02] Rubber1Duck commented on #404
wegen der Beschränkung des RKI auf der DB ist die Abfrage über alle districts auf 30 Tage beschränkt!
wenn du die districts einzeln abfragst entfällt diese Beschränkung !

ich mache dir ein csv fertig, dauert aber ein bischen muss noch Einkaufen :-)

in wie fern kennst du dich mit sql aus? hier [https://github.com/fnogatz/RKI-Data-Diff](https://github.com/fnogatz/RKI-Data-Diff) gibt es im branch d

[2022-02-23 15:18] krz commented on #404
danke, ist nicht super dringend.
SQL kann ich leider nicht so gut, hab jetzt auch keine einfache Anleitung auf diesem Repo gesehen.

[2022-02-23 16:02] #404 closed, assigned to nobody

[2022-03-01 09:02] Rubber1Duck opened #411 "first and second vaccination with Novavax is the same!"
first and second vaccination with novavax is the same value!
![2022-03-01 09_01_30-Window](https://user-images.githubusercontent.com/6493772/156138186-8ce9fb80-630a-4aa5-a837-ea16c0d86df2.png)

[2022-03-03 13:59] #411 closed, assigned to nobody

[2022-03-03 15:04] Rubber1Duck commented on #397
@GlaubeKeinemDev  huhu ......

[2022-03-03 15:05] Rubber1Duck commented on #362
i think we can close this Issue!?

[2022-03-03 15:05] #362 closed, assigned to nobody

[2022-03-03 15:13] Rubber1Duck commented on #354
Impfquoten auf Landkreisebene sind nicht zu ermitteln, siehe dazu auch das README im repository [https://github.com/robert-koch-institut /
[COVID-19-Impfungen_in_Deutschland](https://github.com/robert-koch-institut/COVID-19-Impfungen_in_Deutschland)](https://github.com/robert-koch-institut /
[COVID-19-Impfungen_in_Deutschland](https://github.com/robert-koch-institut/COVID-19-Impfungen_in_Deutschla

[2022-03-03 15:13] #354 closed, assigned to nobody

[2022-03-03 15:25] Rubber1Duck commented on #353
Eine Lösung für die R-Wert Historie hat es mal gegeben, jedoch bevor diese in den code eingeflossen ist, hat es massive Änderungen zur Ermittlung des R-Wertes gegeben (umstieg von Exceldatei auf guthub-csv) (das RKI veröffentlich keine 4 Tages r-Werte mehr).
Somit ist der patch zur Zeit nicht zu gebrauchen. Da müsst nochmal jemand Hand anlegen und das auf die jetzt geltenenden Umstände anpassen!

[2022-03-04 16:21] denis-bz opened #412 "Looking for data on new Covid patients in ICUs per day, or length of stay"
Just a question,
does anyone know of data on new Covid patients in ICUs per day / per week,
to estimate how long they stay ?
Length-of-stay would seem to me useful in estimating load on the hospital system --
a very few patients who stay a long time can clog the system
(just as a few slow trucks clog the Autobahn).
I see papers from 2020 - 2021  but so far no downloadable data :/

Length-of-stay e

[2022-03-04 16:27] #412 closed, assigned to nobody

[2022-03-18 14:50] cabralada opened #414 "Docker is not running anymore"
I have an issue running Docker in my local and in the server.
also online is not working:
url: https://cesarcabral.com/corona/
git: https://github.com/cabralada/corona

This started this week.

I already try to run local:
`➜  corona git:(main) docker-compose down && docker-compose pull && docker-compose up -d -V`

but also doesn't work.

Full error:

` => ERROR [7/7] RUN npm run build

[2022-03-18 15:04] marlon360 commented on #414
Hello @cabralada,

the issues is not related to the Docker Image of this repository.

The problem occurs in the build process of your Dockerfile. Maybe try running it on Node 16.

[2022-03-18 15:04] #414 closed, assigned to nobody

[2022-03-18 15:17] cabralada commented on #414
Hey @marlon360 ... thanks for the fast reply.
I did what you said, but still the same issue.

<img width="893" alt="image" src="https://user-images.githubusercontent.com/1890957/159031355-eda11eec-3fed-4f7b-9cf3-3a6d0f2ca7b0.png">

<img width="895" alt="image" src="https://user-images.githubusercontent.com/1890957/159031280-5e56ec01-a66d-4f49-ba9a-ff8d608efe62.png">

`➜  corona git:(main) node -v

[2022-03-19 01:32] Rubber1Duck commented on #414
as marlon said, try node V16 ! this should solve that issue!
`nvm install 16.13.0`
`nvm run 16.13.0`

under Node V17 the same issue is reported!

and maybe you should ask google with the errormessage (as i just did), google is your friend :-)

[2022-03-19 01:42] Rubber1Duck commented on #414
and maybe this
`#11 13.99 Browserslist: caniuse-lite is outdated. Please run:`
`#11 13.99 npx browserslist@latest --update-db`

is also a usefull tip!? but i dont know

[2022-03-19 01:51] Rubber1Duck commented on #414
i just found this [here](https://namespaceit.com/blog/error-message-error0308010cdigital-envelope-routinesunsupported) mybe a possible solution for you

If you have this on your package.json -
[code]
Now change it to -
[code]
Now run "npm run build". Hope build will work.

[2022-03-19 19:38] Rubber1Duck opened #415 "Timeseries data is not updated by RKI today (2022-03-19)"
The timeseries data this API uses is not updated today. it is still Datenstand: 18.03.2022 0:00 Uhr ! (should be 19.03.2022 0:00 Uhr)
So many data is the data from yesterday! (e.g. newcases germany)
This applies to all data that access this data source:
[https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/Covid19_hubv/FeatureServer/0/](https://services7.arcgis.com/mOBPykOjAyBO2ZKk/a

[2022-03-20 07:30] helmar74 commented on #415
Yes, same here

[2022-03-20 08:36] Rubber1Duck commented on #415
Today 2022-03-20 still not updated!

[2022-03-23 12:09] cabralada commented on #414
oh, thanks so much!
sorry for the late reply ... I will try this!

[2022-03-27 20:48] Rubber1Duck commented on #397
Okay, no answer since 2022-02-22, think there is no issue ... closing

[2022-03-27 20:48] #397 closed, assigned to nobody

[2022-03-28 14:34] #415 closed, assigned to nobody

[2022-03-28 16:56] csigritz opened #418 "Nothing Here, Yet"
Currently the API returns some weird page: "Nothing Here, Yet"
![image](https://user-images.githubusercontent.com/956016/160448396-6f52212f-1d63-43ed-ae13-090fc78ce233.png)

This is for URL [https://api.corona-zahlen.org/states/BY](https://api.corona-zahlen.org/states/BY)

[https://api.corona-zahlen.org/states/JH](https://api.corona-zahlen.org/states/HH) works without problems.

[2022-03-28 16:58] marlon360 commented on #418
Thanks!

Fixed!

[2022-03-28 16:58] #418 closed, assigned to nobody

[2022-03-30 17:39] filserm opened #421 "incidence history for germany not available"
Hi,

the endpoint
https://api.corona-zahlen.org/germany/history/incidence/
returns an error since two days.

![image](https://user-images.githubusercontent.com/55490122/160896820-43bff725-d4ed-4729-8ed4-115867e7cd5a.png)

br
Michael

[2022-03-30 22:45] #421 closed, assigned to nobody

[2022-04-07 16:46] #82 closed, assigned to nobody

[2022-04-07 16:46] #123 closed, assigned to nobody

[2022-04-07 16:46] #231 closed, assigned to nobody

[2022-04-14 08:56] marlon360 opened #425 "Inkonsistente Daten"

[2022-04-14 11:35] Rubber1Duck commented on #425
My self hosted raspberry has the same and right values in both links!
![2022-04-14 11_31_31-Window](https://user-images.githubusercontent.com/6493772/163382724-6e411078-00db-45c7-a26f-e0184ad23b52.png)

I suspect the Redis cache!

@marlon360  try flushing the redis db!

[2022-04-14 20:13] Rubber1Duck commented on #425
@marlon360 did you do something in the meantime? now the data is consistent!

[2022-04-17 09:26] Toni-99 commented on #425
Es scheint wohl den kompletten /germany Endpunkt zu betreffen. Die Anzahl an neuen Genesenen scheint seit Freitag bei 0 zu sein.

[2022-04-17 13:12] Rubber1Duck commented on #425
Hallo Toni-99, hmmm kannst du deine Aussage ein bischen präzisieren? eventuell mit ein paar Bildschirmabzügen, ich kann keine Unregelmässigkeiten finden!

[2022-04-18 15:37] stingrayx commented on #425
Hallo Rubber1Duck,

ich kann nicht 100% nachvollziehen was Toni-99 für Probleme anspricht. Aber seit Donnerstag letzte Woche gibt es definitiv einen Unterschied zwischen https://api.corona-zahlen.org/germany und dem Aufruf https://api.corona-zahlen.org/germany/

Verwendet man den Aufruf mit Slash am Ende bekommt man die Daten vom 13. bzw. 14. April! Bis zu diesem Zeitpunkt ist dies nie aufgefallen

[2022-04-18 18:26] Rubber1Duck commented on #425
Hallo stingrayx, okay damit kann ich was anfangen und auch nachvollziehen, ich werde beide fälle mal debuggen und mir ansehen was da passiert!
Auf meinem raspberry gibt es den unterschied nicht! das ist sehr komisch ...
![2022-04-18 18_30_49-Window](https://user-images.githubusercontent.com/6493772/163856597-9c289de2-d371-440a-9e54-ebd37c307d8e.png)
.

[2022-04-18 18:56] Rubber1Duck commented on #425
Auch local gehosteter Server im debug Modus sendet bei beiden links das selbe richtige Ergebnis! Beide Links verwenden definitiv die selben Routinen, es sei den es gibt einen gültigen Cache Eintrag, dann wird dieser gesendet, was hier scheinbar der Fall ist!
![2022-04-18 18_43_06-Window](https://user-images.githubusercontent.com/6493772/163858379-5c012532-cd2a-459a-a2eb-43388a537a54.png)

Das läss

[2022-04-26 08:57] scharmach commented on #425
Vielleicht ist das hier für die Problembehebung noch hilfreich, denn ich bin ebenfalls auf dieses Problem gestoßen. Ich nutze die API, indem ich die Daten per Node-RED abfrage und in Home Assistant auf einem Rasperry Pi anzeigen lasse.

Mir war aufgefallen, dass sich dabei die Inzidenz für Köln nicht mehr aktualisiert. Schon beim Debuggen in Firefox habe ich dann gesehen, dass der von mir ohne Tra

[2022-04-26 12:15] Rubber1Duck commented on #425
Interessant in diesem Fall ist es das es genau umgekehrt zum germany endpunkt ist! dort gibt es mit / am ende alte Daten, und ohne aktuelle :-( sehr komisch
da marlon sich nicht meldet nehme ich an das er in verdienten Ferien/Urlaub zu sein scheint .....
@marlon360 please comment ......

[2022-04-28 13:47] marlon360 commented on #425
This should be fixed now!

@Rubber1Duck If we need to purge the cache in the future to solve those issues, we can click on Actions -> Purge Cache -> Run workflow

[2022-04-28 13:47] #425 closed, assigned to nobody

[2022-04-29 18:58] marcusraitner opened #427 "Vaccination Endpoint returning error"
since today the following error is returned:

`{"error":{"message":"An error occurred.","details":"Cannot read properties of undefined (reading 'state')","stack":"TypeError: Cannot read properties of undefined (reading 'state')\n    at /workspace/src/data-requests/vaccination.ts:323:15\n    at Generator.next (<anonymous>)\n    at fulfilled (/workspace/dist/data-requests/vaccination.js:5:58)\n    a

[2022-04-29 22:17] Rubber1Duck commented on #427
The RKI change the stucture of the data source, the parser must be rewritten .....

[2022-04-30 08:59] Rubber1Duck commented on #427
To keep the existing data structure of the API we have to switch to the csv data on github (witch is not changed!) and do the extract ourselfs ......... but this needs some time, hopefully finish the work this weekend ...

[2022-05-02 17:55] #427 closed, assigned to Rubber1Duck

[2022-05-03 03:24] icsAT opened #431 "Vaccination endpoint does not return valid data again."
![image](https://user-images.githubusercontent.com/74063738/166400990-b4d1592c-4c82-475e-951b-488105114564.jpeg)

Yesterday you fixed the vaccination endpoint and it worked. This morning it seems, that there is an error again. Could you please check this?

[2022-05-03 04:43] Rubber1Duck commented on #431
sorry for that! Yesterday in the evening i put another little patch , and there is something going wrong.
After marlon is approving the new PR all should work fine!

[2022-05-03 05:03] #431 closed, assigned to nobody

[2022-05-16 07:23] Toni-99 opened #436 "/germany Endpoint is down again"
As mentioned in the screenshot. Endpoint is /germany

![image](https://user-images.githubusercontent.com/71496013/168540027-96f21861-f431-4129-a919-7da2f20b25e2.png)

[2022-05-16 12:54] csigritz commented on #436
Also districts (https://api.corona-zahlen.org/districts) and states(https://api.corona-zahlen.org/states/BY) are currently having problems

[2022-05-16 13:40] permaMonk commented on #388
It’s seems to be there again. Temporarily hosp=n helps.

[2022-05-16 18:45] Rubber1Duck commented on #436
the issue is that there are no new deaths in the rki database, witch meens the newdeaths = 0!
we have to catch this ...... is in work

[2022-05-16 21:54] #436 closed, assigned to nobody

[2022-05-17 14:16] Zawar92 opened #438 "Schemas change for certain streams"
The schemas for certain streams like
1. **germany_age_groups**
2. **german_history_hospitalization**

change overtime. Mostly these errors are caused by decimal values as type integer.
Can you look as these changes effect our test cases.

[2022-05-17 15:27] Rubber1Duck commented on #438
Can you please describe your problem more?

[2022-05-17 15:47] Zawar92 commented on #438
Our problem arises, when change in schemas occurs. Lets say stream passing a  type float changes to integer. That causes the test cases to fail.

[2022-05-17 16:48] Rubber1Duck commented on #438
I am realy sorry, but i dont understand your issue .........
you ask for "Can you look as these changes effect our test cases."
What do you meen with "Our problem" who is "our" ? What is "the test cases" or "our test cases"?
In general this API passes on the numbers as published by the RKI. As i know all numbers should be right.
I would be happy if you could show an example (possibly with a screen

[2022-05-17 20:02] Zawar92 commented on #438
So exactly what happens is that:
1. Screen shot shows the current stream values

<img width="1634" alt="Screenshot 2022-05-17 at 21 51 07" src="https://user-images.githubusercontent.com/26454033/168898580-944a06ba-cfd0-478f-bc1a-272c69915ea8.png">

2. Screen Shows the current schema

<img width="1634" alt="Screenshot 2022-05-17 at 21 53 18" src="https://user-images.githubusercontent.com/26454033/1

[2022-05-17 20:55] Rubber1Duck commented on #438
in /src/data-requests/hospitalization.ts you can see what is defined for hospitalization. There is no difference between integer and float, it is always just a number!
see also [https://www.typescriptlang.org/docs/handbook/2/everyday-types.html](https://www.typescriptlang.org/docs/handbook/2/everyday-types.html)
`number is for numbers like 42. JavaScript does not have a special runtime value for i

[2022-05-18 10:05] #438 closed, assigned to nobody

[2022-05-20 05:36] stingrayx opened #439 "Issue with Cache again"
Hi,

we have an issue with the cache again obviously like in this issue #425

This time there is a difference using the districts endpoint with ending slash or without

https://api.corona-zahlen.org/districts shows the data from 16th of May.

Thanks for clearing the cache.

Best regards
Thomas

[2022-05-20 08:15] Rubber1Duck commented on #439
should be done.
Have anybody a usefull hint whats the reason is for this inconsistence?

[2022-05-21 14:13] Rubber1Duck commented on #439
Wenn keiner einen Tipp hat ... closed

[2022-05-21 14:13] #439 closed, assigned to nobody

[2022-05-30 07:56] claaslange opened #440 "API is broken at the moment"
Looks like the RKI changed something again in regards to the ArcGIS api:

[code]
Can be seen at:
https://api.corona-zahlen.org/districts

[2022-05-30 08:19] Rubber1Duck commented on #440
As the error message said, there is a Problem with the official RKI api! This meens this api get no data!
Hopefully this is solved by arcgis soon....

[2022-05-30 10:48] Rubber1Duck commented on #440
It seems that this issue is fixed!?

[2022-05-30 10:53] claaslange commented on #440
Yes, looks like it's working again 👍 last time this token error appeared the ArcGis URL needed to be changed, but this time it looks like only a temporary bug.

[2022-06-03 04:20] csigritz opened #443 ""states/BY" broken"
Currently https://api.corona-zahlen.org/states/BY fails with an error: "An error occurred while fetching external data."

While https://api.corona-zahlen.org/states/BW or https://api.corona-zahlen.org/states/HH are just working fine.

[2022-06-03 06:35] #440 closed, assigned to nobody

[2022-06-03 06:35] Rubber1Duck commented on #443
solved

[2022-06-03 06:35] #443 closed, assigned to nobody

[2022-06-05 06:51] icsAT opened #444 "Moin,"
leider sieht es gerade so aus, als würden die Endpoints Germany, State und District nicht funktionieren.

![image](https://user-images.githubusercontent.com/74063738/172039116-705e9cc7-bd09-48de-876f-011873457008.jpeg)

Danke für Eure Arbeit und schöne Pfingsttage.

[2022-06-05 07:11] Rubber1Duck commented on #444
Ich bin über Pfingsten nicht zuhause!
Kann leider nichts machen.

[2022-06-05 08:13] Rubber1Duck commented on #444
Aufgrund der Fehlermeldung würde ich aber auf einen Fehler beim RKI tippen. Bzw. den Datahoster dessen Name mir gerade nicht einfällt 😎

[2022-06-06 08:56] #444 closed, assigned to nobody

[2022-06-06 08:56] icsAT commented on #444
Sieht heute wieder gut aus. Also hattest Du mit Deiner Vermutung wohl recht.

[2022-06-12 03:16] icsAT opened #445 "Germany and District Endpoint's are not working."
Looks pretty much like the same issue than last week [#444](https://github.com/marlon360/rki-covid-api/issues/444).

Where I see a comparison to last week is the fact, that the RKI has f.e. no new cases for Germany.
I did not had a look at the code, so I do not know wich request you send to the RKI, but the one I am using for new cases in Germany for example will usually return a number. In case o

[2022-06-12 06:31] Rubber1Duck commented on #445
PR is done, and after Marlon reviewed this all should work fine again

[2022-06-12 07:29] #445 closed, assigned to nobody

[2022-06-16 18:43] marcusraitner opened #447 "Germany endpoint returns error"
Once again the endpoint for Germany runs on an error. Thanks for checking.

[2022-06-16 20:37] Rubber1Duck commented on #447
I am on vaccination for the next 4 Weeks, i have no Chance to check this!
But for the errormessage i suspect tomorrow it should run again......

[2022-06-17 12:24] marcusraitner commented on #447
No worries. Enjoy your vacation.

[2022-06-18 12:38] #447 closed, assigned to nobody

[2022-06-20 08:34] cc13com opened #449 "Docker Image shows no District figures"
Hello,

since I'm running in an issue showing the "District" figures (https://api.my_domain.xxx/districts):

[code]

i pulled the docker-image but running in the same issue. Is there an image update neccessary? All other endpoints looking good so far.

[2022-06-20 08:51] cc13com commented on #449
All good, another container restart "solved" the issue.

[2022-06-20 08:51] #449 closed, assigned to nobody

[2022-06-22 08:47] Toni-99 opened #450 "Vaccinations Data have changed"
The RKI has changed their vaccinations excel file again... Endpoint values (/vaccinations) are not valid anymore

Hier mal die Daten aus der aktuellen Tabelle:
<img width="981" alt="grafik" src="https://user-images.githubusercontent.com/71496013/174985809-f7390a1a-f454-4010-958b-15c27a8f60bf.png">

Und hier die Daten, wie sie bei mir von der API kommen
<img width="504" alt="grafik" src="https://us

[2022-06-23 05:19] Gisbert1 opened #451 "Daily delta values too high"
Hi,
the daily delta values are unreasonable high for all states and the republic of Germany.

[2022-06-23 09:22] HappyFr1tz commented on #451
What problem do you have @Gisbert1 ? The values:

/germany
"weekIncidence": 532.9034150681755,
"casesPer100k": 33159.25046074482,
"casesPerWeek": 443136,
"delta": {
"cases": 119360,
"deaths": 98,
"recovered": 33547

are correct and were transmitted by the RKI. Those of the federal states are also not unusually high.

[2022-06-23 18:44] Gisbert1 commented on #451
Hi,
during this day the numbers are again very reasonable. Yesterday, the delta numbers were very different, a thousand times larger. I do not record the readings, therefore I cannot give you a proof.
Regards
Gisbert​

[2022-06-23 18:53] HappyFr1tz commented on #451
Yesterday there were also problems with the vaccination data. Perhaps there was a general problem at the RKI. Apparently, the matter was resolved on its own, which is why the issue could be closed.

[2022-06-28 12:28] #451 closed, assigned to nobody

[2022-07-13 20:11] stormqueen23 opened #453 "vaccinations endpoint: Daten der A18+falsch für die 2. Booster Impfung"
Beim endpoint /vaccinations kommen im response unter
['data']['2ndBoosterVaccination']['quotes']['A18+']['A18-A59'] und
['data']['2ndBoosterVaccination']['quotes']['A18+']['A60+]
die selben Daten an.

[2022-07-17 17:55] Rubber1Duck commented on #453
fixed

[2022-07-17 17:55] #453 closed, assigned to nobody

[2022-07-17 18:50] Rubber1Duck commented on #450
Hi Toni-99, can you specify your issue?
This api is not providing the numbers of the excelfile! The data source are the github csv files of the RKI!

[2022-08-04 09:02] quito96 opened #456 "Error 500 https://api.corona-zahlen.org/states/NW"
Hi, könnt ihr mir sagen ob dieser Fehler (min. seit 2 Tagen) länger Bestand hat ?
https://api.corona-zahlen.org/states/HH ist z.B. OK —— NW leider nicht
Danke und VG

[2022-08-04 09:13] kaolick opened #457 "Error 500 for Germany and States endpoints"
At least the following endpoints are currently not working and throw a 500 error:

- https://api.corona-zahlen.org/germany
- https://api.corona-zahlen.org/states

[2022-08-04 15:45] DSDV commented on #457
Can confirm :/

[2022-08-07 11:11] Toni-99 commented on #457
Problem is, that this is an RKI API error, so noone except the RKI people are able to fix that.

Thats it, the API is dead >.<

[2022-08-07 12:33] DSDV commented on #457
the official covid app still works :/ wonder which api that uses?
R-Value State and Country are shown correctly in the FDroid version.

[2022-08-07 14:52] Rubber1Duck commented on #457
I will be back from vacation on Tuesday, and then i will have a Look on this

[2022-08-08 11:35] kaolick commented on #457
The endpoint for the districts is still working:
- https://api.corona-zahlen.org/districts

[2022-08-08 11:49] DSDV commented on #457
https://www.corona-in-zahlen.de/ also still works fine.
So there has to be an API that works (:

[2022-08-08 12:09] marlon360 commented on #457
This error is coming up in the logs:

﻿
﻿Looking into it!

[2022-08-08 13:21] marlon360 commented on #457
I added better error messages:
[code]

Now we know that the firewall blocks the IP address of this server.

[2022-08-08 13:22] DSDV commented on #457
where can we apply to get it unblocked ?

[2022-08-09 19:58] csigritz commented on #457
Will this issue be fixed?

[2022-08-10 10:22] Toni-99 commented on #457
Can't we just switch the server?

[2022-08-10 11:38] marlon360 commented on #457
I use [railway](https://railway.app) for hosting. I created a new project and the IP address is the same.

[2022-08-10 11:43] csigritz commented on #457
So no chance to get it working again?

[2022-08-10 11:53] marlon360 commented on #457
We can use any server that supports Node.js and Redis. Any recommendations?

[2022-08-10 18:59] Rubber1Duck commented on #457
Hey Marlon, maybe the branch "new_container_fixed_incidence" is a solution?
Ich war seit langem auf der Suche die fixed Incidence Zahlen, die ja vom RKI nur noch wöchendlich aktualisiert werden, bereitzustellen. Habe dafür ein lösung gefunden. dazu muss aber täglich das RKI Dump heruntergeladen werden. was nur für fixed incidence zahlen wahrer overkill ist. Also dachte ich warum nicht alles berech

[2022-08-10 19:47] marlon360 commented on #457
@Rubber1Duck Danke für deine Arbeit!
Wie groß ist der Dump und wie aufwendig ist die Berechnung?
Können wir das per GitHub Action regelmäßig in die Repo pushen?

[2022-08-10 21:08] Rubber1Duck commented on #457
Der Dump ist zur Zeit ca 850 Megabyte (heute 869142564 byte). ist natürlich nen haufen schotter .....
die berechnung dauert auf einen raspi4 mit 4 gb speicher zur zeit ca 15 minuten, als github action rund 4 minuten.
der updater ist ja ein submodule von meinem [RD_RKI_COVID19_DATA](https://github.com/Rubber1Duck/RD_RKI_COVID19_DATA) repo ..... dort läuft auch eine solche action ....
push in die rk

[2022-08-13 13:34] HappyFr1tz commented on #457
Gibt es mittlerweile was Neues? Auf die eine Idee von @Rubber1Duck ging man ja nicht weiter ein..

[2022-08-15 11:08] marlon360 commented on #457
We are back online 🎉
Switched to Hetzner for hosting.

@Rubber1Duck Deine Lösung muss ich mir zu einem späteren Zeitpunkt nochmal anschauen.

[2022-08-15 11:08] #457 closed, assigned to nobody

[2022-08-15 11:08] #456 closed, assigned to nobody

[2022-08-16 05:45] helmar74 opened #458 "Wrong "last Update" Date since move to new hoster"
Hi,

the "lastUpdate" item in the meta  data is showing an old date, since moved to new hoster.
It occurs in germany and in states.
<img width="445" alt="image" src="https://user-images.githubusercontent.com/25499089/184806427-52f8315d-b601-4b44-a90a-ea8489b13805.png">

<img width="477" alt="image" src="https://user-images.githubusercontent.com/25499089/184806482-2a5a4540-1d65-4343-a832-6d3209fb20

[2022-08-16 10:29] Rubber1Duck commented on #458
maybe it is nessessary to purge the redis cache ............ unfortnatly the github action to flush the cache is not working
@marlon360  please have a look on it!

[2022-08-16 16:30] csigritz commented on #458
Also weekincidence gives the wrong value. In BY it is far below 739 currently.

[2022-08-19 20:20] Rubber1Duck commented on #458
i just saw that Marlon flushed the cache, but the error ist still on... and debug the code.
I dont know why, but the used link to the RKI api witch ist requestiing the states data bring back the wrong data!
deleting one option witch ist not in any other link fixed the error! But why is it running for month or years and now not?
making a patch und PR .............

[2022-08-19 20:25] #458 closed, assigned to nobody

[2022-08-19 20:39] Rubber1Duck commented on #450
no reaction for over 1 month

[2022-08-19 20:39] #450 closed, assigned to nobody

[2022-08-20 11:58] codingcat2468 opened #460 "Wrong font in maps since server change?"
Hi,
there seems to be a little bug in the map endpoint.
Since the server change, the text in:

- [districts-legend](https://api.corona-zahlen.org/map/districts-legend)
- [states-legend](https://api.corona-zahlen.org/map/states-legend)
- [states-legend/hospitalization](https://api.corona-zahlen.org/map/states-legend/hospitalization)

is overlapping and is cut off the image.
It looks like the font h

[2022-08-20 21:30] Rubber1Duck opened #461 "The response to receive the age-groups data is incomplete!"
https://github.com/marlon360/rki-covid-api/blob/eb20f4894641c3c1eb829bead487769e184e7dc1/src/data-requests/states.ts#L382-L383

This request exceeded the Tranferlimit.
![agegroups_states_exeeded_Transferlimit](https://user-images.githubusercontent.com/6493772/185766504-9da84031-9f2a-47ca-a1a8-7e2bb9ab0940.png)

witch data is missing cannot be predicted! Not all states are at the beginning of the r

[2022-08-20 21:46] Rubber1Duck commented on #460
on my local own hosted server (Rasberry Pi) the picture is right
![2022-08-20](https://user-images.githubusercontent.com/6493772/185767003-463cdf8e-031c-4d85-b4a1-1906ce0f13b3.png)
i think this must be an issue with the fonts availible on the new server.
@marlon360 is your app now running in the dockercontainer? (because there are the needed fonts installed.....)

[2022-08-23 07:02] #461 closed, assigned to Rubber1Duck

[2022-08-29 10:42] cmbTea opened #463 "Covid-19 Analysis and Visualisation"
Hi Marlon,
many thanks for your great work.
In our Covid-19-analysis project [https://github.com/1c3t3a/Covid-19-analysis](https://github.com/1c3t3a/Covid-19-analysis) we provide functions to access and preprocess Covid-19 data of the countries of the world based on daily published data of the WHO and Our World In Data. The project creates data plots and interactive Folium maps and it includes Win

[2022-09-03 11:36] maurermax opened #465 "Vacciniation Response not working anymor due to changed structure in repo"
When doing a `GET https://api.corona-zahlen.org/vaccinations` an error object is being returned

[code]

seems like this path changed to `https://raw.githubusercontent.com/robert-koch-institut/COVID-19-Impfungen_in_Deutschland/master/Metadaten/zenodo.json` instead

[2022-09-03 17:28] codingcat2468 commented on #465
[https://api.corona-zahlen.org/germany](https://api.corona-zahlen.org/germany) now also throws a similar error:
[code]
It seems the structure has changed here also.

[2022-09-04 05:33] maurermax commented on #465
created a potential fix here: https://github.com/marlon360/rki-covid-api/pull/466

[2022-09-04 06:15] MrNigt opened #467 "Errors on States (error #404: Not Found) and Germany (Request failed with status code 500) requests"
States error message:

{"error":{"message":"An error occurred while fetching external data.","url":"https://raw.githubusercontent.com/robert-koch-institut/COVID-19-Hospitalisierungen_in_Deutschland/master/.zenodo.json","details":"Request failed with status code 404","response":"404: Not Found"}}

Germany error message:

{"error":{"message":"An error occurred while fetching external data.","url":"h

[2022-09-05 00:21] #465 closed, assigned to nobody

[2022-09-05 00:22] marlon360 commented on #467
Fixed with #466

[2022-09-05 00:22] #467 closed, assigned to nobody

[2022-09-30 11:06] Rubber1Duck opened #472 "no vaccination values for each vaccine"
At the Moment there are no vaccination values for each vaccine.
The RKI changed the names for the vaccines and add new ones
will be fixed soon!

[2022-10-01 14:00] #472 closed, assigned to Rubber1Duck

[2022-10-05 09:25] Toni-99 opened #475 "No data updates on /germany endpoint"
idk if this is an RKI issue but there are no new data since the 3rd October. Can you please have a look here? :)

![grafik](https://user-images.githubusercontent.com/71496013/194027409-91f6078a-ea95-4797-a60b-dd544d1f3595.png)

[2022-10-06 05:48] Rubber1Duck commented on #475
i cleaned the redis cache, now the data is actual, lets see if this is solving the issue

[2022-10-07 09:13] Rubber1Duck commented on #475
it seems this is solved, closing the issue

[2022-10-07 09:13] #475 closed, assigned to nobody

[2022-10-11 08:22] Rubber1Duck commented on #440
SorryAs the error message said, there is a Problem with the official RKI api! This meens this api gets no data!Hopefully this is solved by arcgis soon....Am 30.05.2022 10:18 schrieb Peter Markewitz ***@***.***>:As tue error messanges said, there is a Problem with the official RKI api! This merns this api getragen no data!Hopefully this is solved by arcgis soon....Am 30.05.2022 09:56 schrieb Claas

[2022-10-17 09:25] #351 closed, assigned to nobody

[2022-10-18 20:34] Rubber1Duck commented on #145
fixed

[2022-10-18 20:34] #145 closed, assigned to nobody

[2022-10-19 10:16] #57 closed

[2022-10-21 10:51] foaryon opened #479 "Deaths and new infections wrong"
Hello,

the number of new infections is wrong or slowly updated and the numbers of deaths per week for states is also wrong.

[2022-10-21 14:01] foaryon commented on #479
R Wert also wrong

[2022-10-21 18:02] Rubber1Duck commented on #479
Witch endpoint?
/germany? States? Districts?
More info is verdammt helpfull

[2022-10-21 19:04] Rubber1Duck commented on #479
I am on vaccation at the moment, and have limited resourses to internet and Not the right Equipment to check this all the way...
But at a  Quick check of /germany against the rki dashboard icant See wrong values!
Also the r-value  for /germany and the value in the official Excel file are equal!
I cant See any issues here!
Please decribe your issue in more Detail, maybe with screenshots!
Thank you

[2022-10-21 22:53] foaryon commented on #479
Endpoint: states

deaths per week are wrong: sum shows 156 overall but its not..

![image](https://user-images.githubusercontent.com/20794218/197301417-3ca70418-e6c7-402f-87c9-dec9e98d4c20.png)

Don't know why it soo low in numbers. We had 178 deaths just today....Why its weekly 156 combined over all states??!

[2022-10-22 12:19] Rubber1Duck commented on #479
Hi [foaryon](https://github.com/foaryon)
Thats because not all 178 people died yesterday! if one or more are died bevor (yesterday minus 7 days: today this is 2022-10-15) you dont see this in the deaths per week! this value is total dynamic! this is only valid for today (btw. yesterday)
thats the case for cases and recovered also!
feel free to ask more questions if something is not clear for you!

[2022-10-22 12:27] Rubber1Duck opened #480 "missing deathsPerWeek in /germany"
i just realised that there is no value for deathsPerWeek in endpoint /germany!
![germany](https://user-images.githubusercontent.com/6493772/197338976-19564abc-e1bd-4feb-a5f6-1b323aa0a8df.png)

for /states this is existing!
![states](https://user-images.githubusercontent.com/6493772/197338982-8325a7b6-bae4-43e4-8e19-e226ad5c2491.png)

should be a good idea to add this in /germany too!

can do this

[2022-11-10 07:27] Toni-99 opened #482 "RKI killed /germany endpoint again"
![image](https://user-images.githubusercontent.com/71496013/201026714-39d3821d-b624-437d-8c53-19a4d649511c.png)

[2022-11-10 08:54] Rubber1Duck commented on #479
no more questions.... closing

[2022-11-10 08:54] #479 closed, assigned to nobody

[2022-11-10 08:57] Rubber1Duck commented on #482
hopefully this is solved by RKI soon.....

[2022-11-10 09:20] DSDV commented on #482
Is there an official Contact?
Since the CoronaWarnAPP is still working i wonder why the API is going down so often.
Therefor i would like to open "a ticket" with the official RKI Support team ;)

[2022-11-10 13:28] Toni-99 commented on #482
@Rubber1Duck Scheint nun alles wieder zu laufen.

@DSDV nop, working with RKI is like programming in Brainfuck, but badder

[2022-11-10 13:28] #482 closed, assigned to nobody

[2022-11-26 11:29] codingcat2468 opened #483 "Problems with the API"
Hi,
in the last days, I've discovered several problems with the API.
All endpoints return strange values for lastUpdate and lastCheckedForUpdate.
These values are always like **2022-11-24T16:50:30.404Z**. Looks like the server updated a few days ago last time and the responses are loaded from cache.
Also, an app on my phone always shows an JSON parsing error because the API response is an empty st

[2022-11-26 12:27] marlon360 commented on #483
Thanks for reporting!

These are the errors in the logs:

2022-11-26T12:25:17.882990921Z at Parser.<anonymous> (/app/src/data-requests/vaccination.ts:355:31)
2022-11-26T12:25:17.882985470Z TypeError: Cannot read properties of undefined (reading 'total')

[2022-11-26 18:20] Rubber1Duck commented on #483
I am still in vaccation, it seems that the vaccination Parser must be rewritten or patched, because the headline of the cvs files  are renamed!
I will be back after 2.Advent only then could I take care of it.
Sorry for that!

[2022-11-28 21:17] wagnerand commented on #483
The headers didn't change, but they added 5th and 6th vaccination: https://github.com/robert-koch-institut/COVID-19-Impfungen_in_Deutschland/issues/20